@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-sand: #E6E6E6;
}

:root {
  color-scheme: dark;
  color: #E6E6E6;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
}